<!--Declaring File Type-->
<!DOCTYPE html>

<!--HTML Block-->
<html>

<!--Head Block-->
<head>
    <!--Character Set Use UTF-8-->
    <meta charset="utf-8"> 

    <!--IDK-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Title of webpage that shows on tab-->
    <title>Bechtel Net Share Upload</title>

    <!--Accessing CSS files from Internet-->
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!--Accessing custom CSS file-->
    <link href="css/styles.css" rel="stylesheet">

</head>

<!--Body Block-->
<body>
    <!--Divisions-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-cloud-upload"></span>
                        <!--Title displayed in the main box-->
                        <h2>File Share System</h2>

                        <!--Subtitle in the main box-->
                        <h4>Bechtel Innovation Design Center<br>Purdue University</h4>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar"></div>
                        </div>

                        <!--Declaration of the upload buttons for each machine-->
                        <button class="btn btn-lg upload-btn" type="button" onclick="millUpload()">Mills</button>
                        <button class="btn btn-lg upload-btn" type="button" onclick="latheUpload()">Lathes</button>
                        <button class="btn btn-lg upload-btn" type="button" onclick="gantryUpload()">Gantry</button>
                        <button class="btn btn-lg upload-btn" type="button" onclick="waterjetUpload()">Water Jet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Upload Input-->
    <input id="upload-input" type="file" accept=".nc, .dxf, .ord" name="uploads[]" multiple="multiple"></br>

    <!--Java Script from the Internet for file upload-->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!--Custom Java Script-->
    <script src="javascripts/upload.js"></script>

</body>

</html>